/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;
$ztastyRed: #ba1111;
// Background colors:

$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //
$topbar_bkg: #ba1111;
$topbar_link: #FFFFFF;
