/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;
$ztastyRed: #ba1111;
// Background colors:
$sitebkg: #bae6ea;

$bkgoundContent: #FFFFFF; //
$menuBar_bkg: #2eb3c1; // now teal  // old? #D14719; //
$topbar_bkg: #2eb3c1; //#ba1111;
$footer_bkg: #2eb3c1;
$topbar_link: #FFFFFF;
$navborder: #bae6ea;
