/* ----  Media Settings --------------------------------- */
@media screen and (min-width:601px){
  .one_half {
    width: 48%!important;
    padding-right: 1%;
  }

  .one_half.last_column {
    width: 50%!important;
    padding-right:0px;
  }
}
/* end Media Settings ------------------------------------------ */
