/* ----  Media Settings --------------------------------- */
@media screen and (min-width:601px){
  .one_half {
    width: 48%!important;
    padding-right: 1%;
  }

  .one_half.last_column {
    width: 50%!important;
    padding-right:0px;
  }
}

@media only screen and (max-width: 60em) {
    #logo {
      text-align: center; // 100% at 60em.
      float: none;
    }
    #header-widget-area {
      float: none;
      text-align: center;
      .widget {
        padding: 0px;
        margin-bottom: 0px;
      }
    }
}
/* end Media Settings ------------------------------------------ */
