/* Styling for navigation, including top-bar menu  */

#top-bar {
  .menu-top-menu-container {
    #menu-top-menu { // ul
        display: flex;
        padding-right: 20px;
        padding-top: 4px;
        float: right;
        li.menu-item {
          //float: right;
          margin-left: 2em;
          padding-bottom: 10px;
          padding-top: 10px;
          a {
            color: $topbar_link;
          }
        }
    }
  }
}

@media (min-width: 60em) {
  ul#mainnav-menu {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

#mainnav, #mainnav-bg-wrap { //remove left and right extension as well as bottom triangles
  margin: 0;
}
#mainnav {
  border-top-color: $navborder;
}
#mainnav-border {
  border-top: none;
}

#footer, #mainnav {
  background: $menuBar_bkg;
}

#mainnav-menu a {
  font-weight: bold;
  font-size: 1.1em;
}
