/* ----------- Tribe Events --*/


.tribe-mini-calendar-event .list-date .list-dayname {
  padding: 0px;
}

.tribe-street-address {
  display: block;
}

.tribe-events-widget-link {
  font-weight: bold;
}
