/* ----------- Tribe Events --*/


.tribe-mini-calendar-event .list-date .list-dayname {
  padding: 0px;
}

.tribe-street-address {
  display: block;
}

.tribe-events-widget-link {
  font-weight: bold;
}

ul.ecs-event-list {
  list-style: none;
  margin-left: 0px;
  img {
    float: left;
    margin: 0px 10px 10px 0px;
  }
}
